Flask==2.3.3
Flask-SQLAlchemy==3.0.5
Flask-Login==0.6.3
Flask-WTF==1.1.1
WTForms==3.0.1
Werkzeug==2.3.7
authlib
python-dotenv
requests
libsql-experimental
reportlab
python-docx
flask-socketio==5.3.6
gevent==23.9.1
gevent-websocket==0.10.1
